---
layout: splash
author_profile: false
header:
    overlay_color: "#159957"
    gradient: "120deg, #155799, #159957"
    cta_label: "Get started"
    cta_url: "/docs/getting-started/"
    github_buttons: true
excerpt: "Test Manager using REST services"
about:
    - title: "About"
      image_path: "/assets/img/armadillo.png"
      excerpt: The goal of Kabassu is to create test central, place where users can gather different tests for different application, run them against different enviroments and configurations
kabassu:
    - title: "Kabassu"
      excerpt: Main application which is using REST to comunicate with rest of the world. <br>[Github Repository](https://github.com/Kabassu/kabassu)

kabassugui:
    - title: "Kabassu GUI"
      excerpt: Our default GUI that can be used with Kabassu <br>[Github Repository](https://github.com/Kabassu/kabassu-gui)
---

{% include feature_row id="about" type="left" %}
{% include feature_row id="kabassu" type="right" %}
{% include feature_row id="kabassugui" type="left" %}
